
.links {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  transition-duration: 0.3s;
}

.links:hover {
  color: rgb(172, 172, 172);
  text-decoration: none;
}

.App-logo {
  width: 15vmin;
  
}

.App {
  text-align: center;
  margin: 100px;
}

i {
  color: rgb(255, 255, 255);
  width: 20px;
}